<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.ui.externaltools.ProgramLaunchConfigurationType">
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_LAUNCH_CONFIGURATION_BUILD_SCOPE" value="${none}"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="${env_var:SHELL}"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_TOOL_ARGUMENTS" value="-i ${workspace_loc:/dsa-documents/src/main/scripts/toimage.sh} ${workspace_loc:/tierdokumenta4/src/intermediate/document/Tierdokument.pdf} ${workspace_loc:/tierdokumenta4}/src/site/resources/images/document/Tierdokument 80 jpeg"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_WORKING_DIRECTORY" value="${workspace_loc:/tierdokumenta4}"/>
</launchConfiguration>
